<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- background color-->
    <style>
    body{
      background-color: #d0d5e0;
    }
</style>


  </head>
<body>
<div class="container">
<h2>About</h2>
</div>
<div class="container">

<a href="index.html" type="submit" class="btn btn-default" role="button">Log In</a>
<!--Index Page Page-->

<!--Intro-->
<div class="jumbotron">
  <h1>COMPANY NAME</h1>
  <p>Company Details insert here</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


</div>
</body>
</html>